html {
  font-size: 100px;
}
body {
  font-size: 0.14rem;
  padding-top: 0.45rem;
}
img {
  vertical-align: middle;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html,
body {
  height: 100%;
  background: #fff;
}
main {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#header {
  display: flex;
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #ff841d;
}
#header > .fa-angle-left {
  width: 0.45rem;
  height: 0.45rem;
  display: block;
  font-size: 0.45rem;
  color: #fff;
  text-align: center;
}
#header > h4 {
  flex: 1;
  height: 100%;
  margin: 0;
  text-align: center;
  display: block;
  line-height: .45rem;
  color: #fff;
  font-size: 0.24rem;
}
#header > .header-app {
  width: 0.45rem;
  height: 0.45rem;
  display: block;
  background: url(../images/header_app.png);
  background-size: cover;
  margin-right: 0.1rem;
}
#footer {
  background: #efefef;
  height: 1rem;
}
#footer .mui-row {
  height: .3rem;
  border-bottom: 1px solid #ccc;
}
#footer .mui-row .mui-col-xs-4 {
  text-align: center;
  line-height: .3rem;
}
#footer .mui-row .mui-col-xs-4 > a {
  color: #000;
}
#footer .mui-row .mui-col-xs-4 + .mui-col-xs-4 {
  border-left: 1px solid #ccc;
}
#footer .foot-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .05rem 0;
}
#footer .foot-connect p {
  margin: 0;
}
#footer .foot-connect p.appLoad {
  color: red;
}
#footer .foot-connect p span {
  color: #8f8f94;
}
#footer .foot-connect p span.phone {
  color: #000;
}
